# .gitignore for MonoGame Community Wiki

# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore MonoGame content build directory
Content/bin/
Content/obj/

# Ignore Mac system files
.DS_Store

# Ignore Visual Studio Code settings
.copilot/
.vscode/
.vs/
/RecreateCodeBlocks.deps.json
/RecreateCodeBlocks.dll
/RecreateCodeBlocks.exe
/RecreateCodeBlocks.pdb
/RecreateCodeBlocks.runtimeconfig.json
/docs/RecreateCodeBlocks.exe
